#home-image
  =image_tag '/images/ward_w_vuillemot.jpg'

%h1 Who?

%p
  My name is 
  =link_to 'Ward W. Vuillemot.', 'http://facebook.com/wwvuillemot'
  I am the author the 
  %b 
    NSN Calendar widget.
  All credit for the actual calendaring functionality that powers this
  widget is owed to
  =link_to 'NSN itself.', 'http://nightsky.jpl.nasa.gov'

%p 
  I have been writing code since I was a child and worked professionally as a software engineer amongst other things.  

%p
  Additionally, I have been an avid amateur astronomer since childhood.  
  My heart has never strayed far from all things physics and especially astronomy.

%p
  If you have an idea for a project, especially one that helps advance citizen science, please 
  =link_to 'reach out to me.', 'mailto:wwv@mac.com?subject=NSN'

.clear

  %h1 Why?

  %p
    During the process of re-designing our local astronomy club
    we felt strongly that we contribute to the 
    =link_to 'Night Sky Network', 'http://nightsky.jpl.nasa.gov' 
    and thus equally felt strongly that our events be discoverable from there.  However, we also wanted to ensure that our members
    could use our site as their first-stop in discovering local astronomy news.  Toward this ends I developed this Javascript widget to enable astronomy clubs like us to use
    NSN while easily adding a calendar of events from their own website.

