#home-image
  =image_tag '/images/background_1.jpg'

%h1 Issues?

%p
  If you think you found a bug or wish to request a feature then please 
  =link_to 'create an issue', 'https://github.com/wwvuillemot/NightSkyNetworkCalendar/issues'
  on GitHub where the project is hosted.

%h1 Help?

%p
  If you need some individual help getting things to work on your website,
  please do not hesitate to 
  =link_to 'reach out to the author via email.', 'mailto:wwv@mac.com?subject=NSN%20Help'
