%a{ :href => 'http://www.vladstudio.com/wallpaper/?blackhole' }
  =image_tag '/images/404.jpg', :class => 'error_404'
%b Black Hole
by
=link_to 'Vlad Studio', 'http://www.vladstudio.com'
, All Rights Reserved