#home-image
  =image_tag 'https://raw.github.com/wwvuillemot/NightSkyNetworkCalendar/master/nsn-calendar.png'

%h2 Night Sky Calendar Widget!

%p
  Interested in keeping your club's events on 
  =link_to 'Night Sky Network', 'http://nightsky.jpl.nasa.gov'
  but easily display the events in calendar form from your web-site?

%p