#footer
  %ul#footer-links
    %li
      #{link_to "About", about_path}
    %li
      | #{link_to "Contact", contact_path}
    %li
      | #{link_to "Instructions", instructions_path}
    -if [:development].include? Rails.env
      %li
        | #{link_to "Mobile Site", root_url(:mobile => 1)}
  #footer-copyright
    %p
      ©2011-2012 Ward W. Vuillemot :: All Rights Reserved
