#footer
  %ul#footer-links
    %li
      #{link_to "About", about_path}
    %li
      | #{link_to "Examples", examples_path}
    %li
      | #{link_to "Mobile Site", root_url(:mobile => 1)}
  #footer-copyright
    ©2011-2012 Ward W. Vuillemot :: All Rights Reserved