#top-bar
  #search
    #search-icons
      %a{:href => "https://www.facebook.com/nsn-calendar"}= image_tag("facebook.png",       |
                        :size => "18x18", |
          :alt => "Find Us on Facebook")  |
      %a{:href => "https://twitter.com/#!/nsn-calendar-app"}= image_tag("twitter.png", :size=>"18x18", :alt=>"Follow Us on Twitter")