#top-bar
  %a{:href => "https://github.com/wwvuillemot/NightSkyNetworkCalendar"}= image_tag("github_blue_white_g_32.png",       |
                    :size => "18x18", |
      :alt => "Find us on Github") 